<div class="col-lg-3">
	<h2>User info</h2>
	<img class="cropped-noimage-300x200.jpg" alt="No image">
	<p>name</p>
	<p>introduction</p>

	<h2>New book</h2>
	<%= form_for(book) do |f| %>
	<p>Title</p>
	<%= f.text_field :title %>
	<p>Opinion</p>
	<%= f.text_area :opinion %>
	<%=f.submit "Create Book"%>
	<% end %>
</div>