<div class="container">
	<div class="row">

	  <%= render 'users/list', users:@users, book:@book %>

		<div class="col-lg-9">
			<table class="table table-striped">
				<h2>Books</h2>
				<thead>
					<tr>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>