<header>
	<h3>Bookers</h3>
	<%= link_to "Home","/" %>
	<%= link_to "About","/homes/about" %>
	<%= link_to "sign up","#" %>
	<%= link_to "login","#" %>
</header>
<div class="top-wrapper">
	<h2>welcome to Bookers !!</h2>
</div>
<div class="bottom">
	<p>CopyRight Infratop.inc</p>
</div>